<tool name="FilesAndDirs">  <version>1.8.0</version>  <date>2018-02-15</date>  <main>FilesAndDirs</main>  <container>#._FilesAndDirs</container>    <files>  </files>  <needs>	<script>APLTreeUtils</script>  	<script>OS</script>	<script>Tester</script>	<script>IniFiles</script>	<script>WinSys</script>  </needs>  <scriptOnly>1</scriptOnly>  <lx></lx>  <wsid>FilesAndDirs</wsid>  <autoload>1</autoload></tool>